
<div class="container">
  <h1 class="text-center">List of Cocktails</h1>
  <p class="text-center"><%= link_to "Create a cocktail", new_cocktail_path %></p>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(<%= image_path "cocktails.jpg" %>);">
      <div class="card-category">Popular</div>
        <div class="card-description">
        <p></p>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
        </div>
    </div>
  </div>
    <% end %>
</div>



