<div id="footer" class="wrapper-grey padded text-center padded">
      <ul class="list-inline">
        <li>
        <a href>
          <i class="fa fa-facebook"></i>
        </a>
        <li>
        <a href>
          <i class="fa fa-twitter"></i>
        </a>
        <li>
        <a href>
          <i class="fa fa-youtube"></i>
        </a>
        <li>
        <a href>
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      </ul>
      <p>cocktail ltd</p>

    </div>
